<header class="sticky-top bg-light d-flex flex-column-reverse">
    <nav class="navbar navbar-expand-lg navbar-light">
        {{ $url := .URL | relLangURL }}
        <a class="navbar-brand" href="/{{ .Lang }}">
            <img src="{{ .Site.BaseURL }}img/interus_logo_179x65.svg">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbarToggler" aria-controls="mainNavbarToggler"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="mainNavbarToggler" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                {{ range .Site.Menus.main }}
                <li class="nav-item">
                    <a class="nav-link{{ if eq $url (.URL | relLangURL) }} active{{end}}" href="{{ .URL | absLangURL }}" title="{{ .Title }}">
                        {{- .Name -}} {{- with .Page -}}
                        <span class="date">
                            {{- dateFormat " (2006-01-02)" .Date -}}
                        </span>
                        {{- end -}}
                    </a>
                </li>
                {{ end }}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="langSwitcher" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        {{ .Site.Language.LanguageName }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {{ range $.AllTranslations }}
                        <a class="dropdown-item" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                        {{ end }}
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    {{ .Site.Params.social }}
    <div id="quickContactDetails" class="d-flex justify-content-between">
        <a href="mailto:{{ .Site.Params.email }}">
            <i class="fas fa-envelope-square"></i>
            <span>{{ .Site.Params.email }}</span>
        </a>
        <a href="tel:{{ .Site.Params.phone }}" class="d-none d-sm-block">
            <i class="fas fa-phone-square"></i>
            <span>{{ .Site.Params.phone }}</span>
        </a>
        <a href="{{ .Site.Params.facebook }}"  class="d-none d-md-block" target="_blank">
            <i class="fab fa-facebook-f" data-fa-mask="fas fa-circle" data-fa-transform="shrink-3.5 down-1.6 right-1.25"></i>
            <span>{{ .Site.Params.facebookLinkCaption}}</span>
        </a>
    </div>

</header>